/*CARD REVIEW*/ 
/*--------------------------------------------------------------------------------*/
.divReview{
    position: relative;
    display: flex;
    justify-content: center;
    margin:0.5em;
  }
  .imgDogReview{
    position: absolute;
    bottom: calc(100% - 27px);
  }
  .divCardReview{
     width: 274px;
     height: 224px;
     background:
     radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 14px, transparent 14px) 0% 0%/16px 16px no-repeat,
     radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 14px, transparent 14px) 100% 0%/16px 16px no-repeat,
     radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 14px, transparent 14px) 0% 100%/16px 16px no-repeat,
     radial-gradient(circle at 0 0, #ffffff 0, #ffffff 14px, transparent 14px) 100% 100%/16px 16px no-repeat,
     linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 32px) no-repeat,
     linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 32px) calc(100% - 4px) no-repeat,
     conic-gradient(from 180deg at 50% 50%, #A01E12 0deg, rgba(160, 30, 18, 0) 180deg, #A01E12 360deg);
    border-radius: 16px;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 5px;
    box-sizing: border-box;         
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .divTextReview{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  padding: 3%;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  }
  
@media(max-width:1100px){
  .divCardReview{
    width: 180px;
    height: 160px;
    padding: 3px;
  }
  .divTextReview{
    font-size: 14px;
    line-height: 14px;
  }
}
@media(max-width:480px){
  .divReview{
    margin:2em;
  }
  .divTextReview{
    font-size: 14px;
    line-height: 14px;
  }
  .divSlideCard{
    margin: 3em;
  }
}




/*CARD CONTACTO degradado*/

.buttonClass{
    width: 272px;
    height: 48;
    padding: 10px;
    gap: 10px;
    color: #ffffff;
    width: 100%;
  }
  .divCardContact{
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 14px, transparent 14px) 0% 0%/16px 16px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 14px, transparent 14px) 100% 0%/16px 16px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 14px, transparent 14px) 0% 100%/16px 16px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 14px, transparent 14px) 100% 100%/16px 16px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 32px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 32px) calc(100% - 4px) no-repeat,
    conic-gradient(from 90deg, #a01e12 12%, #fceccb 28%, rgba(244,219,188,0.25) 74%, #a01e12 95%);
  border-radius: 16px;
  padding: 6px;
  box-sizing: content-box;
  width: 556px;
  height: 240px;
  border-radius: 16px;
  box-sizing: content-box;
  display: flex;
  justify-content: space-around;
  position: relative;
  }
  
  .divCardContact p{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  }
  .divCardContact img{
    position: absolute;
    bottom: calc(100% - 311px);
    right:  calc(100% - 280px);
  }
  .divImgContact{
    width: 30%;
  }
  .divTextCotact{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    
  }
  
  
  /*CARD CONTACTO*/ 
  /*////////////////////////////////////////////////////////////////*/
  
  .imgDivContacto{
    width: 50%;
  }
  .divPContacto{
    width: 40%;
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #191919;
  }


  .divPContacto button{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
  
  @media (max-width:481px) {
    .divPContacto {
      width: 50%;
    }
    .imgDivContacto{
      width: 40%;
    }
  }

    /*CARD DOGID*/ 
  /*////////////////////////////////////////////////////////////////*/
  .containerDOGID{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .divCardDogId{
    position: relative;
    display: flex;
    justify-content: center;
    margin:0.5em;
  }
  .divDogID{
    width: 694px;
    height: 108px;
    background:
    radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 14px, transparent 14px) 0% 0%/16px 16px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 14px, transparent 14px) 100% 0%/16px 16px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 14px, transparent 14px) 0% 100%/16px 16px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 14px, transparent 14px) 100% 100%/16px 16px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 32px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 32px) calc(100% - 4px) no-repeat,
    conic-gradient(from 180deg at 50% 50%, #A01E12 0deg, rgba(160, 30, 18, 0) 180deg, #A01E12 360deg);
   border-radius: 16px;
   box-sizing: border-box;
   border-radius: 16px;
   padding: 5px;
   box-sizing: border-box;         
   display: flex;
   align-items: center;
   justify-content: center;
  }


  .divTextDogID{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 90%;
    height: 60%;
    text-align: center;
  }
  .imgDOGID{
    position: absolute;
    bottom: calc(100% - 40px);
    width: 60%;
  }
  @media(max-width:481px){
    .divDogID{
     width:350px;
     height: 150px;
    }
    .divTextDogID{
      font-size: 15px;
      line-height: 20px;
      width: 90%;
      height: 100%;
      text-align: center;
    }
   }

  /*CARD APP DOG ID*/
  /*/////////////////////////////////////////////////////*/ 

  .divAPP{
    position: relative;
    display: flex;
    justify-content: center;
    margin:0.5em;
  }

  .APPdogID{
    Width:260px;
    Height:176px;
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 14px, transparent 14px) 0% 0%/16px 16px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 14px, transparent 14px) 100% 0%/16px 16px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 14px, transparent 14px) 0% 100%/16px 16px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 14px, transparent 14px) 100% 100%/16px 16px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 32px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 32px) calc(100% - 4px) no-repeat,
    linear-gradient(0deg, #a01e12 0%, rgba(219, 158, 152, 1) 53%, rgba(254,188,182,0.57) 74%, rgba(255,216,212,0.65) 88%, rgba(255,236,234,1) 98%, rgba(255,255,255,0) 100%);
   border-radius: 16px;
   box-sizing: border-box;
   padding: 5px;
   box-sizing: border-box;         
   display: flex;
   align-items: center;
   justify-content: center;
  }


  .imgAPP{
    position: absolute;
    bottom: calc(100% - 20px);
    width: 13%;
  }

  .divAPPInfo{
    padding: 3%;
  }

  .divTextAPP{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }

  .divTextAPP h4{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

/*-------------------------------------------------------------------*/
/*------------------------Cards Fortalezas---------------------------*/
/*-------------------------------------------------------------------*/

.index__cardFortaleza__container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 166px;
  text-align: center;
  background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 14px, transparent 14px) 0% 0%/16px 16px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 14px, transparent 14px) 100% 0%/16px 16px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 14px, transparent 14px) 0% 100%/16px 16px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 14px, transparent 14px) 100% 100%/16px 16px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 32px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 32px) calc(100% - 4px) no-repeat,
    linear-gradient(0deg, #a01e12 0%, rgba(219, 158, 152, 1) 53%, rgba(254,188,182,0.57) 74%, rgba(255,216,212,0.65) 88%, rgba(255,236,234,1) 98%, rgba(255,255,255,0) 100%);
  border-radius: 16px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tituloCard__fortaleza{
  font-weight: 700;
  font-family: "Nunito";
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.textoCard__fortaleza__container{
    width: 80%;
}

.textoCard__fortaleza{
  margin-bottom: 30px;
  font-size: 14px;
  font-family: "Nunito";
}

.icono__fortaleza{
  position: absolute;
  top: -10%;
  right: 40%;
  height: 48px;
  width: 56px;
}

/*------------Cards de productos en el Index------------------*/

.index__productosCards__container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.index__productosCards__DOGID-container{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.index__productosCards__ROPA-container{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

/*posicion de caption dentro de la card*/

.index__DOGID__container{
  width: 80%;
  position:relative;
}

.index__Ropa__container{
  width: 80%;
  position:relative;
}


.index__DogIdCaption__container h4{
  position: absolute;
  top: 30%;
  right: 27%;
}

.index__productosImagen__perroIzq{
  position: absolute;
  top: -51%;
  width: 300px;
  height: 200px;
}

.index__productosImagen__perroDer{
  position: absolute;
  top: -49%;
  right: 0%;
  width: 300px;
  height: 200px;
}

.index__DogIdCaption__container a{
  position: absolute;
  top: 60%;
  right: 40%;
  text-decoration: underline grey;
  color: white;
  font-size: 24px;
  font-weight: 500;
  font-family: "Lato";
}

.index__RopaCaption__container h4{
  position: absolute;
  top: 30%;
  right: 30%;
}

.index__RopaCaption__container a{
  position: absolute;
  top: 60%;
  right: 40%;
  text-decoration: underline gray;
  font-family: "Lato";
  color: white;
  font-size: 24px;
  font-weight: 500;
}

/*Texto de los captions de la card*/

.index__DogIdCaption__container h4{
  color: white;
  font-size: 64px;
  font-weight: 700;
  font-family: "Lato";
}


.index__RopaCaption__container h4{
  color: white;
  font-size: 64px;
  font-weight: 700;
  font-family: "Lato";
}


/*Cards de la parte de Monarcas*/

.index__MonarcasSlide__container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.index__ImgyCaption__container{
  position: relative;
  width: 90%;
}

.index__imgMonarcas{
  width: 400px ;
  height: 220px ;
  object-fit: cover;
  border-radius: 7px;
}

.index__captionMonarcas__container{
  position: absolute;
  bottom: 0%;
  background-color: rgba(25, 25, 25, 0.4);
  width: 100%;
  height: 30%;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index__captionMonarcas__container div{
  width: 50%;
  text-align: center;
}

.index__captionMonarcas__producto{
  display: flex;
  flex-direction: column;
  border-left:2px white  solid;
  height: 50%;
  align-items: center;
  justify-content: center;
}


.index__captionMonarcas__container div h4{
  color: white;
}

.index__captionMonarcas__container div h5{
  color: white;
}

/*CARDS CHALECOS--------------------------*/
.divProductos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.divProductos h3{
  font-size: 32px;
  line-height: 38px;
}
.imgProducto{
  height: 240px;
  width: 331px;
  border-radius: 16px;
}
#chaleco01{
  background:  url('/img/ropa/ropa00.png');
  transition: 1s;
  background-repeat : no-repeat;
  background-size : contain;
}
#chaleco01:hover{
  background: url('/img/ropa/ropa00a.png');
}
#chaleco02{
  background:  url('/img/ropa/ropa01.png');
  background-repeat : no-repeat;
  background-size : contain;
  transition: 1s;
}
#chaleco02:hover{
  background: url('/img/ropa/ropa01a.png');
}
#chaleco03{
  background:  url('/img/ropa/ropa02.png');
  background-repeat : no-repeat;
  background-size : contain;
  transition: 1s;
}
#chaleco03:hover{
  background: url('/img/ropa/ropa02a.png');
}
#chaleco04{
  background:  url('/img/ropa/ropa03.png');
  background-repeat : no-repeat;
  background-size : contain;
  transition: 1s;
}
#chaleco04:hover{
  background: url('/img/ropa/ropa03a.png');
}
#chaleco05{
  background:  url('/img/ropa/ropa04.png');
  background-repeat : no-repeat;
  background-size : contain;
  transition: 1s;
}
#chaleco05:hover{
  background: url('/img/ropa/ropa04a.png');
}
#chaleco06{
  background:  url('/img/ropa/ropa05.png');
  background-repeat : no-repeat;
  background-size : contain;
  transition: 1s;
}
#chaleco06:hover{
  background: url('/img/ropa/ropa05a.png');
}

/*CARDS CHALECOS Responsive//////////////////////////////////////////*/

.divCirculo h4{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.divCirculo:active{
  border:solid 10px red;
}

@media(max-width:780px){
  .imgProducto{
    height: 140px;
    width: 200px;
  }
  .divCirculo img{
    width: 150px;
    height: 150px;
  }
}

@media(max-width:480px){
  .divCirculo img{
    width: 100px;
    height: 100px;
  }
}




/*CAROUSEL RESPONSIVE////////////////////////*/

.carouselResponsiveDestokp{
  display: none;
}


@media(min-width:541px){
  .carouselResponsiveDestokp{
    display: block;
  }
  .carouselMobile{
    display: none;
  }
  
}

@media(max-width:540px){
  .carouselMobile{
    display: block;
  }
}

/* 

 @media(min-width:540px){
  .carouselMobile{
    display: none;
  }
  .carouselResponsivDestokp{
    display: block;
  }
} 

@media(max-width:540px){
  .carouselResponsiveDestokp{
    display: none;
  }
} */

/*-----Cards de caracteristicas en seccion ROPA--------------*/

.caracteristica__card__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}

.caracteristica__item__img{
  width: 200px;
  height: 200px;
}

.caracteristica__cardCaption__container{
  display: flex;
  width: 75%;
  padding-top: 15px;
  align-items: center;
}

.caracteristica__cardCaption__container p{
  font-family: "Nunito";
}

.caracteristica__cardCaption__container p strong{
  font-size: 45px;
  padding-right: 10px;
  color: #A01E12;
  font-family: "Lato";
}



/*---------------Cards de contacto----------------*/

.contacto__card__container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 180px;
  text-align: center;
  background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 14px, transparent 14px) 0% 0%/16px 16px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 14px, transparent 14px) 100% 0%/16px 16px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 14px, transparent 14px) 0% 100%/16px 16px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 14px, transparent 14px) 100% 100%/16px 16px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 4px) calc(100% - 32px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 32px) calc(100% - 4px) no-repeat,
    linear-gradient(0deg, #a01e12 0%, rgba(219, 158, 152, 1) 53%, rgba(254,188,182,0.57) 74%, rgba(255,216,212,0.65) 88%, rgba(255,236,234,1) 98%, rgba(255,255,255,0) 100%);
  border-radius: 16px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contacto__icono__card{
  position: absolute;
  top: -10%;
  right: 40%;
  height: 48px;
  width: 56px;
}

.tituloCard__contacto{
  font-weight: 700;
  font-family: "Nunito";
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.textoCard__contacto__container{
  width: 80%;
}

.textoCard__contacto{ 
  margin-bottom: 30px;
  font-size: 14px;
  font-family: "Nunito";
}

/*PRODUCTOS*/ 


.seleccionado img{
  border: solid 2px #9D0308;
  border-radius: 50%;
}
.seleccionado h4{
  color: #9D0308;
}

.clean{
  border: none;
}