
.caracteristicasIMG{
    width: 30%;
}

.liClass{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.textCaracteristicas{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.perdido p{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

.perdido h4{
    color:#A01E12;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.divNavBarID{
    display: flex;
    justify-content: center;
}
.borderBottom{
    border-bottom: solid 2px #D1D1D1;
    width: 70%;
}
.navBarDogId{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    color: #A01E12;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.navBarDogId li:hover{
    cursor: pointer;
  
}

.bordeRojo{
    border-bottom:solid 2px #A01E12;
}