/*------------------------------------INDEX---------------------------------------*/
/*--------------------------------------------------------------------------------*/

/*Acomodado de los botones para mover las imagenes del carousel*/

.index__mainCarousel__container{
    position:relative;
  }
  
  #index__btnsCarousel__container{
    position: absolute;
    top:85%;
    right:0%;
  }
  
  .index__btnMainCarousel__img{
    width:10px;
    height:10px;
  }
  /*Acomodado de posicion de titulos y subtitulos en las imagenes del carousel*/
  
  /*Item 1*/
  
  #item1{
    position:relative;
  }
  
  .index__carouselImg1__titulo{
    position:absolute;
    top:25%;
    left: 10%;
    font-size: 2.7rem;
    width: 45%;
    color: #ffffff;
    line-height: 48px;
  }
  
  .index__carouselImg1__subtitulo{
    position:absolute;
    top:53%;
    left: 10%;
    font-size: 1.7rem;
    width: 45%;
    color: #ffffff;
    font-weight: 400;
  }
  
  /*Item 2*/
  
  #item2{
    position:relative;
  }
  
  .index__carouselImg2__titulo{
    position:absolute;
    top:20%;
    left: 10%;
    font-size: 2.7rem;
    width: 41%;
    color: #191919;
  }
  
  #index__carouselImg2__btn{
    position:absolute;
    top:75%;
    left: 10%;
    width: 25%;
    background-color: #A01E12;
    border: solid 2px #A01E12;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #index__carouselImg2__btn:hover{
    background-color: #E9B900;
    border: solid 2px #191919;
  }
  
  /*Item 3*/
  
  #item3{
    position:relative;
  }
  
  .index__carouselImg3__titulo{
    position:absolute;
    top:21%;
    left: 9.5%;
    font-size: 2.7rem;
    width: 40%;
    color: #191919;
    font-weight: 600;
    line-height: 48px;
  }
  
  .index__carouselImg3__subtitulo{
    position:absolute;
    top:51%;
    left: 10%;
    font-size: 1.7rem;
    font-weight: 400;
    width: 45%;
    color: #191919;
  }
  
  /*Sobre nosotros*/
  /*--------------------------------------------------------------------------------*/
  .index__sobreNosotros__container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  
  .index__sobreNosotros__container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    line-height: 45px;
  }
  
  .index__sobreNosotros__container div p{
    color: #A01E12;
    font-size: 1rem;
  }
  
  .index__sobreNosotros__container div p strong {
    color: #191919;
    font-size: 2rem;
  }
  
  
  /*Testimonios*/
  /*--------------------------------------------------------------------------------*/
  .divTestimony{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F9EAB3;
  }
  

  /*CAROUSEL REVIEWS*/
/*--------------------------------------------------------------------------------*/
.divCarousel{
    height: 100%;
    width: 100%;
    display: flex;
  }
  
  
  .gallery-cell {
    height: 400px;
    padding-right:10px;
  }
  @media (min-width: 300px) and (max-width: 420px) {
    .gallery-cell {
        height: 286px ;
        
    }
  }
  
  @media (max-width: 640px) {
    .gallery-cell {
        padding-right:0;
    }
  }
  
  .carousel__sliderLarge {
    padding-left: 10%;
    padding-right: 10%;
  }
  .divSlideCard{
    min-height: 380px;
    display: flex;
    align-items: center;
  }
  /* gives us the illusion of spaces between the slides */
  .carousel__inner-slideLarge {
    width: calc(100% - 20px);
    height: 100%;
    left: 10px;
  
    
  }
  
    /*CONTACTO SECCION*/ 
  /*////////////////////////////////////////////////////////////////*/
  .divCardContacto{
    width: 50%;
    display: flex;
    justify-content: space-evenly;;
    align-items: center;
}