/*------------------------------------INDEX---------------------------------------*/
/*--------------------------------------------------------------------------------*/

/*Acomodado de los botones para mover las imagenes del carousel*/

.index__mainCarousel__container{
    position:relative;
  }
  
  #index__btnsCarousel__container{
    position: absolute;
    top:85%;
    right:0%;
  }
  
  .index__btnMainCarousel__img{
    width:10px;
    height:10px;
  }
  /*Acomodado de posicion de titulos y subtitulos en las imagenes del carousel*/

  /*Carousel*/
  .index__mainCarousel__carousel{
    height: 40vh;
    overflow-y: hidden;
  }

  /*Item 1*/
  
  #item1{
    position:relative;
    background-image: url("/img/Home-BannerProductos1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 100%;
  }
  
  .index__carouselImg1__titulo{
    position:absolute;
    top:20%;
    left: 10%;
    font-size: 2.7rem;
    width: 45%;
    color: #ffffff;
    line-height: 48px;
  }
  
  .index__carouselImg1__subtitulo{
    position:absolute;
    top:55%;
    left: 10%;
    font-size: 1.7rem;
    width: 45%;
    color: #ffffff;
    font-weight: 400;
  }
  
  /*Item 2*/
  
  #item2{
    position:relative;
    background-image: url("/img/Home-BannerDogId2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 100%;
  }
  
  .index__carouselImg2__titulo{
    position:absolute;
    top:14%;
    left: 10%;
    font-size: 2.7rem;
    width: 43%;
    color: #191919;
  }
  
  #index__carouselImg2__btn{
    position:absolute;
    top: 68%;
    left: 13%;
    width: 25%;
    background-color: #A01E12;
    border: solid 2px #A01E12;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #index__carouselImg2__btn:hover{
    background-color: #E9B900;
    border: solid 2px #191919;
  }
  
  /*Item 3*/
  
  #item3{
    position:relative;
    background-image: url("/img/Home-BannerRopa3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 100%;
  }
  
  .index__carouselImg3__titulo{
    position:absolute;
    top:15%;
    left: 9.5%;
    font-size: 2.7rem;
    width: 40%;
    color: #191919;
    font-weight: 600;
    line-height: 48px;
  }
  
  .index__carouselImg3__subtitulo{
    position:absolute;
    top:35%;
    left: 9.5%;
    font-size: 1.7rem;
    font-weight: 400;
    width: 45%;
    color: #191919;
  }

  #index__carouselImg3__btn{
    position:absolute;
    top: 68%;
    left: 13%;
    width: 25%;
    background-color: #A01E12;
    border: solid 2px #A01E12;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  
  /*Sobre nosotros*/
  /*--------------------------------------------------------------------------------*/
  .index__sobreNosotros__container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }

  .dogId__selectorTitulo__container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }

  .chalecos__tallesTitulo__container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    line-height: 45px;
    margin-bottom: 20px;
  }
  .dogId__selectorTitulo__container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    line-height: 45px;
  }
  
  .index__sobreNosotros__container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    line-height: 45px;
  }

  .chalecos__caracteristicasTitulo__container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    line-height: 45px;
  }
  
  .index__sobreNosotros__container div p{
    color: #A01E12;
    font-size: 1rem;
  }

  .dogId__selectorTitulo__container div p{
    color: #A01E12;
    font-size: 1rem;
  }

  .chalecos__caracteristicasTitulo__container div p{
    color: #A01E12;
    font-size: 1rem;
  }

  .chalecos__tallesTitulo__container div p{
    color: #A01E12;
    font-size: 1rem;
  }
  
  .index__sobreNosotros__container div p strong {
    color: #191919;
    font-size: 2rem;
  }

  .dogId__selectorTitulo__container div p strong{
    color: #191919;
    font-size: 2rem;
  }

  .chalecos__caracteristicasTitulo__container div p strong{
    color: #191919;
    font-size: 2rem;
  }

  .chalecos__tallesTitulo__container div p strong{
    color: #191919;
    font-size: 2rem;
  }
  
  
  /*Testimonios*/
  /*--------------------------------------------------------------------------------*/
  .divTestimony{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F9EAB3;
  }
  .divTestimony #testimonio{
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
  }

  /*CAROUSEL REVIEWS*/
/*--------------------------------------------------------------------------------*/
.divCarousel{
    height: 100%;
    width: 100%;
    display: flex;
  }
  
  
  .gallery-cell {
    height: 400px;
    padding-right:10px;
  }
  @media (min-width: 300px) and (max-width: 420px) {
    .gallery-cell {
        height: 286px ;
        
    }
  }
  
  @media (max-width: 640px) {
    .gallery-cell {
        padding-right:0;
    }
  }
  
  .carousel__sliderLarge {
    padding-left: 10%;
    padding-right: 10%;
  }
  .divSlideCard{
    min-height: 380px;
    display: flex;
    align-items: center;
  }
  /* gives us the illusion of spaces between the slides */
  .carousel__inner-slideLarge {
    width: calc(100% - 20px);
    height: 100%;
    left: 10px;
  
    
  }
  
    /*CONTACTO SECCION*/ 
  /*////////////////////////////////////////////////////////////////*/
  .divCardContacto{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}



  /*------------Media Queries DELF---------------------*/

@media (max-width: 1201px) {
  /*---INDEX---*/

  /*Titulos del carrousel*/
  .index__carouselImg1__titulo{
    font-size: 2.4rem;
  }
  .index__carouselImg1__subtitulo {
    font-size: 1.6rem;
  }
  .index__carouselImg2__titulo{
    font-size: 2.4rem;
    top:15%;
  }
  .index__carouselImg3__titulo{
    font-size: 2.4rem;
  }
  .index__carouselImg3__subtitulo {
    font-size: 1.6rem;
  }
  /*Fortalezas*/
  .index__productosImagen__perroIzq {
    top: -55%;
  }
  .index__productosImagen__perroDer {
    top: -52%;
  }
  /*----CONTACTO-----*/
  .contacto__titulo__container {
    right: 35%;
}
/*------------------CHALECOS-----------------------*/
.talles__imagen__container img {
  width: 340px;
  height: 320px;
}
.caracteristica__item__img {
  width: 185px;
  height: 185px;
}
/*-----------------------DOG ID----------------------*/
.dogId__titleList__container {
  right: 24%;
}
}

@media (max-width: 1101px) {
  /*---INDEX---*/

  /*Titulos del carrousel*/
  .index__carouselImg1__titulo{
    font-size: 2.2rem;
    top:22%;
    line-height: 42px;
  }
  .index__carouselImg1__subtitulo {
    font-size: 1.5rem;
    top: 57%;
  }
  .index__carouselImg2__titulo{
    font-size: 2.2rem;
    top: 19%;
  }
  #index__carouselImg2__btn{
    top: 67%;
  }
  .index__carouselImg3__titulo{
    font-size: 2.2rem;
    top: 16%;
  }
  .index__carouselImg3__subtitulo {
    font-size: 1.5rem;
  }
  #index__carouselImg3__btn{
    top: 67%;
  }
  #index__btnsCarousel__container{
    top:87%;
  }
  .tituloCard__fortaleza{
    font-size: 13px;
  }
  .textoCard__fortaleza {
    font-size: 13px;
  }
  .index__productosImagen__perroIzq {
    top: -61%;
  }
  .index__productosImagen__perroDer {
    top: -57%;
  }
  /*----CONTACTO-------*/
  .contacto__cards__container {
    width: 90%;
  }
  .contacto__titulo__container {
    right: 34%;
  }
  /*-------PREGUNTAS FRECUENTES----------*/
  .preguntasFrecuentes__tituloSeccion__container {
    right: 23%;
  }
  /*--------------CHALECOS---------------*/
  .caracteristica__item__img {
    width: 175px;
    height: 175px;
  }

  .talles__imagen__container img {
    width: 330px;
    height: 310px;
}
/*-------------DOG ID-------------------*/
.dogId__titleList__container {
  right: 22%;
}
.dogId__bannerCaption__container h2 {
  right: 22%;
}
}

@media (max-width: 1001px) {
  /*---INDEX---*/

  /*Titulos del carrousel*/
  .index__carouselImg1__titulo{
    font-size: 2rem;
    line-height: 35px;
    top: 28%;
  }
  .index__carouselImg1__subtitulo {
    font-size: 1.4rem;
    line-height: 25px;
    top: 56%;
  }
  .index__carouselImg2__titulo{
    font-size: 2rem;
    line-height: 40px;
    top: 22%;
  }
  .index__carouselImg3__titulo{
    font-size: 2rem;
    line-height: 40px;
    top:20%;
  }
  .index__carouselImg3__subtitulo {
    font-size: 1.4rem;
    line-height: 30px;
    top: 38%;
  }
  #index__btnsCarousel__container{
    top:85%;
  }
  /*Index Fortalezas*/
  .textoCard__fortaleza {
    font-size: 13px;
  }
  .index__sobreNosotros__container div p strong {
  font-size: 1.8rem;
  }
  .index__reyesYreinas__container div p strong {
    font-size: 1.8rem;
  }
  .index__sobreNosotros__container div{
  margin-top: 0px;
  }
  .tituloCard__fortaleza{
  font-size: 12px;
  }
  .textoCard__fortaleza {
  font-size: 12px;
  }
  .index__aboutUs__grid {
  margin-top: 0px;
  }
  /*Index Productos*/
  .index__productosImagen__perroIzq {
    width: 250px;
    height: 175px;
    top: -59%;
  }
  .index__productosImagen__perroDer {
    width: 250px;
    height: 175px;
    top: -56%;
  }
  .index__productos__container div p strong {
    font-size: 1.8rem;
  }
  .index__DogIdCaption__container h4 {
    font-size: 56px;
  }
  .index__RopaCaption__container h4 {
    font-size: 56px;
  }
  /*------------CONTACTO-----------------*/
  .contacto__cards__container {
    width: 100%;
    justify-content: space-evenly;
  }
  .contacto__banner__img {
    height: 34vh;
  }
  .contacto__banner__containerGeneral {
    height: 35vh;
  }
  .contacto__cards__sectionContainer {
    height: 55vh;
}
  .contacto__card__container {
    width: 270px;
  }
  .contacto__titulo__container {
    right: 32%;
}
/*-------------PREGUNTAS FRECUENTES-------------*/
.preguntasFrecuentes__tituloSeccion__container {
  right: 22%;
}
.preguntasFrecuentes__tituloSeccion__container h1 {
  font-size: 60px;
}
/*----------------CHALECOS--------------------*/
.caracteristica__item__img {
    width: 155px;
    height: 155px;
}
.chalecos__caracteristicasTitulo__container div p strong{
  font-size: 1.8rem;
}
.chalecos__caracteristicasTitulo__container div{
  margin-top: 0px;
  margin-bottom: 50px;
}
.chalecos__tallesTitulo__container div p strong{
  font-size: 1.8rem;
}
.talles__imagen__container img {
  width: 320px;
  height: 300px;
}
/*Tabla de talles*/
.talles__tablaImg__container img {
  width: 95%;
  height: 150px;
}
.ropa__talles__titulo {
  font-size: 1.6rem;
}
/*--------------------------DOG ID--------------------------------*/
.dogId__bannerCaption__container h2{
  font-size: 22px;
}
.dogId__bannerCaption__container div ul li {
  font-size: 60px;
}
.dogId__titleList__container {
  right: 20%;
}
.dogId__titleList__container ul {
  animation:cambiarEn1000 15s infinite;
}
.dogId__selectorTitulo__container div p strong{
  font-size: 1.8rem;
}
}

@media (max-width: 901px) {
  /*---INDEX---*/

  /*Titulos del carrousel*/
  .index__carouselImg1__titulo{
    font-size: 1.8rem;
  }
  .index__carouselImg1__subtitulo {
    font-size: 1.3rem;
    line-height: 27px;
    top: 57%;
  }
  .index__carouselImg2__titulo{
    font-size: 1.8rem;
    top:24%;
  }
  .index__carouselImg3__titulo{
    font-size: 1.8rem;
    top:23%
  }
  .index__carouselImg3__subtitulo {
    font-size: 1.3rem;
    line-height: 30px;
    top: 40%;
    width: 44%;
  }
  /*Index Fortalezas*/
  .tituloCard__fortaleza {
    font-size: 13px;
  }
  .index__sobreNosotros__container {
  height: 15vh;
  }
  /*Index Productos*/
  .index__productosImagen__perroIzq {
  top: -66%;
  }
  .index__productosImagen__perroDer {
    top: -62%;
  }
  .index__RopaCaption__container h4 {
    font-size: 50px;
  }
  .index__DogIdCaption__container h4 {
    font-size: 50px;
  }
  .index__DogIdCaption__container a {
    right: 40%;
  }
  .index__RopaCaption__container a {
    right: 37%;
}
  /*--------------CONTACTO--------------*/
  .contacto__banner__img {
    height: 30vh;
  }
  .contacto__cards__sectionContainer {
    height: 50vh;
}
  .contacto__card__container {
    width: 260px;
  }
  .contacto__titulo__container {
    right: 29%;
  }
  .contacto__banner__containerGeneral {
    height: 30vh;
}
/*-------------PREGUNTAS FRECUENTES-----------*/
.preguntasFrecuentes__tituloSeccion__container {
  right: 21%;
}
.preguntasFrecuentes__tituloSeccion__container h1 {
  font-size: 55px;
}
/*--------------CHALECOS----------------------*/
.caracteristica__item__img {
  width: 140px;
  height: 140px;
}
.talles__imagen__container img {
  width: 310px;
  height: 290px;
}
.talles__tablaImg__container img {
  height: 135px;
}
.ropa__talles__titulo {
  font-size: 1.4rem;
}
/*-----------------DOG ID-----------------------*/
.dogId__bannerCaption__container div ul li {
  font-size: 58px;
}
.dogId__titleList__container {
  right: 17%;
}
.dogId__bannerCaption__container h2 {
  font-size: 20px;
}
.dogId__bannerCaption__container h2 {
  font-size: 20px;
  margin-top: 35px;
}
.dogId__titleList__container ul {
  animation:cambiarEn900 15s infinite;
}
}

@media (max-width: 801px) {
  /*---INDEX---*/

  /*Titulos del carrousel*/
  .index__carouselImg1__titulo{
    font-size: 1.6rem;
    width: 50%;
    line-height: 30px;
    top: 31%;
  }
  .index__carouselImg1__subtitulo {
    font-size: 1.2rem;
    top:55%;
  }
  .index__carouselImg2__titulo{
    font-size: 1.6rem;
    line-height: 35px;
    top:29%;
    width: 44%;
  }
  #index__carouselImg2__btn{
    top: 62%;
  }
  .index__carouselImg3__titulo{
    font-size: 1.6rem;
    width: 50%;
    line-height: 35px;
    top:26%;
  }
  .index__carouselImg3__subtitulo {
    font-size: 1.2rem;
  }
  #index__carouselImg3__btn{
    top: 62%;
  }
  #index__btnsCarousel__container{
    top:80%;
  }

  /*Index Fortalezas*/
  .icono__fortaleza {
    height: 38px;
    width: 48px;
  }
  .index__sobreNosotros__container div p strong {
    font-size: 1.7rem;
  }
  /*Index Productos*/
  .index__productosImagen__perroIzq {
    width: 220px;
    height: 160px;
    top:-68%;
  }
  .index__productosImagen__perroDer {
    width: 220px;
    height: 160px;
      top: -64%;
  }
  .index__productos__container div p strong {
    font-size: 1.7rem;
  }
  .index__RopaCaption__container h4 {
    font-size: 42px;
  }
  .index__DogIdCaption__container h4 {
    font-size: 42px;
  }
  /*Index Reyes y Reinas*/
  .index__reyesYreinas__container div p strong {
    font-size: 1.7rem;
  }
  /*----------CONTACTO--------------*/
  .contacto__card__container {
    width: 230px;
  }
  .contacto__banner__img {
    height: 30vh;
  }
  .contacto__banner__containerGeneral {
    height: 30vh;
  }
  .textoCard__contacto {
    font-size: 13px;
  }
  .contacto__card__container {
    height: 160px;
  }
  .contacto__titulo__container {
    right: 28%;
}
/*--------------PREGUNTAS FRECUENTES----------------*/
.preguntasFrecuentes__tituloSeccion__container h1 {
  font-size: 50px;
}
.preguntasFrecuentes__tituloSeccion__container {
  right: 20%;
}
/*-----------------CHALECOS-------------------------*/
.caracteristica__item__img {
  width: 140px;
  height: 140px;
}
.chalecos__caracteristicasTitulo__container div p strong{
  font-size: 1.7rem;
}
.chalecos__tallesTitulo__container div p strong{
  font-size: 1.7rem;
}
.talles__imagen__container img {
  width: 290px;
  height: 270px;
}
.talles__tablaImg__container img {
  height: 125px;
}
.ropa__talles__titulo {
  font-size: 1.2rem;
}
.index__DogIdCaption__container a {
  right: 37%;
}
.index__RopaCaption__container a {
  right: 35%;
}
/*--------------DOG ID------------------*/
.dogId__bannerCaption__container h2 {
  font-size: 18px;
}
.dogId__bannerCaption__container div ul li {
  font-size: 56px;
}
.dogId__selectorTitulo__container div p strong{
  font-size: 1.7rem;
}
}

@media (max-width:768px) {
  .index__aboutUs__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "index__ProductosDeCalidad__container index__AtencionPersonalizada__container"
        "index__aboutUsMainImg__container index__aboutUsMainImg__container"
        "index__seguridadEnElProceso__container index__envios__container"
  }
  .index__aboutUsMainImg__container { 
    height: 300px ;
  }
  .index__aboutUsMainImg__container img{ 
    height: 100% ;
  }
  .index__RopaCaption__container a {
    right: 35%;
  }
  .index__DogIdCaption__container a {
    right: 37%;
  }
}


@media (max-width: 701px) {
  /*---NAVBAR--*/
  .navbar__logo__margen{
    margin-right: 0rem;
    margin-left: 0rem;
  }


  /*---INDEX---*/

  /*Titulos del carrousel*/
  .index__carouselImg1__titulo{
    font-size: 1.4rem;
    line-height: 28px;
    top: 32%;
  }
  .index__carouselImg1__subtitulo {
    font-size: 1rem;
    line-height: 24px;
  }
  .index__carouselImg2__titulo{
    font-size: 1.4rem;
    line-height: 28px;
    top:32%;
  }
  #index__carouselImg2__btn{
    top: 60%;
  }
  .index__carouselImg3__titulo{
    font-size: 1.4rem;
    line-height: 28px;
    top:31%;
  }
  .index__carouselImg3__subtitulo {
    font-size: 1rem;
    line-height: 24px;
    top: 43%;
  }
  /*Botones de banners*/
  #index__carouselImg2__btn {
    min-height: 0rem!important;
    height: 35px;
  } 
  #index__carouselImg3__btn {
    min-height: 0rem!important;
    height: 35px;
    top: 65%;
  } 
  #index__btnsCarousel__container{
    top:75%;
  }
  /*Index Fortalezas*/
  .index__sobreNosotros__container div {
    margin-top: -50px;
  }
  .icono__fortaleza {
    height: 45px;
    width: 55px;
}
  /*Index Productos*/
  .index__productosImagen__perroIzq {
    top: -32%;
    left: -3%;
    width: 200px;
    height: 140px;
}
  .index__productosCards__ROPA-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-left: 0px;
  }
  .index__productosImagen__perroDer {
    top: -30%;
    width: 200px;
    height: 140px;
  }
  .index__productosCards__DOGID-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 0px;
    align-items: center;
  }
  .index__productosCards__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0px;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .index__DogIdCaption__container h4 {
    font-size: 64px;
  }
  .index__RopaCaption__container h4 {
    font-size: 64px;
  }
  .index__DogIdCaption__container h4 {
    right: 31%;
  }
  .index__RopaCaption__container h4 {
    right: 36%;
}
  /*Index carousel de reyes y reinas*/
  .index__reyesYreinas__container {
    display: none;
  }
  .carousel__reyesYreinas__container{
    display: none;
  }
  /*------------CONTACTO--------------*/
  .contacto__cards__sectionContainer {
    height: 110vh;
  }
  .contacto__cards__container {
    flex-direction: column;
  }
  .contacto__titulo__container {
    right: 24%;
}
/*-------------PREGUNTAS FRECUENTES-------------*/
.preguntasFrecuentes__tituloSeccion__container h1 {
  font-size: 45px;
}
/*---------------------CHALECOS-------------------*/
.caracteristica__item__img {
  width: 170px;
  height: 170px;
}
.caracteristicasRopa__items__container {
  height: 135vh;
  flex-direction: column;
}
.caracteristica__card__container {
  width: 260px;
  height: 280px;
}
.talles__imagen__container img {
  width: 280px;
  height: 260px;
}
.talles__tablaImg__container img {
  width: 100%;
}
.talles__tablaImg__container {
  padding-left: 0px;
}
.talles__indicaciones__texto {
  padding-left: 0px;
}
.ropa__talles__titulo {
  font-size: 1rem;
}
.index__DogIdCaption__container a {
  right: 43%;
}
.index__RopaCaption__container a {
  right: 43%;
}
/*----------------DOG ID---------------------------*/
.dogId__bannerCaption__container div ul li {
  font-size: 52px;
}
.dogId__titleList__container {
  right: 14%;
}
.dogId__titleList__container ul {
  animation:cambiarEn700 15s infinite;
}
.dogId__bannerCaption__container h2 {
  font-size: 17px;
}
.dogId__btn__comprar{
  width: 25%;
}
}

@media (max-width: 601px) {
  /*---NAVBAR--*/
  .navbar__menu__texto{
    font-size: 12px;
  }

  /*---INDEX---*/
  .index__mainCarousel__carousel{
    height: 30vh;
  }

  /*Titulos del carrousel*/
  .index__carouselImg1__titulo{
    font-size: 1.2rem;
    line-height: 22px;
    top: 33%;
    left: 11%;
  }
  .index__carouselImg1__subtitulo {
    font-size: 0.9rem;
    line-height: 18px;
    left:11%;
    top: 57%;
  }
  .index__carouselImg2__titulo{
    font-size: 1.2rem;
    top: 28%;
    left: 11%;
    width:46%;
  }
  .index__carouselImg3__titulo{
    font-size: 1.2rem;
    line-height: 20px;
    top: 28%;
    left: 10%;
  }
  .index__carouselImg3__subtitulo {
    font-size: 0.9rem;
    line-height: 18px;
    width: 55%;
    left: 10%;
  }
  #index__btnsCarousel__container{
    top:77%;
  }
  /*Botones de banners*/
  #index__carouselImg2__btn {
    height: 35px;
  } 
  #index__carouselImg3__btn {
    height: 35px;
  }  
  /*Index Fortalezas*/
  .index__sobreNosotros__container div p strong {
    font-size: 1.6rem;
  }
  .botonCentrado__container a {
    width: 37%;
  }
  /*Index Productos*/
  .index__productos__container div p strong {
    font-size: 1.6rem;
  }
  .index__productosImagen__perroIzq {
    top: -37%;
    left: -7%;
  }
  .index__productosImagen__perroDer {
    top: -35%;
  }
  .index__DogIdCaption__container h4 {
    font-size: 58px;
  }
  .index__RopaCaption__container h4 {
    font-size: 58px;
  }
  /*Index Reyes y Reinas*/
  .index__reyesYreinas__container div p strong {
    font-size: 1.6rem;
  }
  /*-----CONTACTO-----*/
  .contacto__banner__img {
    height: 25vh;
  }
  .contacto__titulo__container h1 {
    font-size: 55px;
  }
  .contacto__icono__card {
    height: 60px;
    width: 68px;
  }
/*-----------PREGUNTAS FRECUENTES---------*/
.preguntasFrecuentes__tituloSeccion__container h1 {
  font-size: 39px;
}
.preguntasFrecuentes__tituloSeccion__container {
  right: 19%;
}
/*------------CHALECOS--------------------*/
.chalecos__caracteristicasTitulo__container div p strong{
  font-size: 1.6rem;
}
.caracteristica__item__img {
  width: 190px;
  height: 190px;
}
.caracteristica__card__container {
  width: 300px;
  height: 300px;
}
.chalecos__tallesTitulo__container div p strong{
  font-size: 1.6rem;
}
.talles__imagen__container img {
  width: 260px;
  height: 240px;
}
.talles__tablaImg__container img {
  height: 110px;
}
.caracteristicasRopa__items__container {
  height: 145vh;
}
/*--------------------DOG ID---------------------*/
.dogId__bannerCaption__container div ul li {
  font-size: 46px;
}
.dogId__titleList__container {
  right: 12%;
}
.dogId__titleList__container ul {
  animation:cambiarEn600 15s infinite;
}
.dogId__bannerCaption__container h2 {
  display: none;
}
.dogId__selectorTitulo__container div p strong{
  font-size: 1.6rem;
}
.dogId__selector__img {
  border-radius: 10px;
}
}

@media (max-width: 501px) {
  /*---NAVBAR---*/
  #navBar__menu__container{
    display: none;
  }

  #navBar__menuMobile__container{
    display: flex;
  }

  /*---INDEX---*/

  /*Titulos del carrousel*/
  .index__carouselImg1__titulo{
    font-size: 1rem;
    line-height: 20px;
    top: 28%;
    left: 11%;
  }
  .index__carouselImg1__subtitulo {
    display: none;
  }
  .index__carouselImg2__titulo{
    font-size: 1rem;
    line-height: 20px;
    width: 48%;
    top: 25%;
    left: 11%;
  }
  .index__carouselImg3__titulo{
    font-size: 1rem;
    line-height: 20px;
    top:24%;
    left: 11%;
  }
  .index__carouselImg3__subtitulo {
    display: none;
  }
  /*Tamaño carousel*/
  .index__mainCarousel__carousel{
    height: 146px;
  }
  /*Botones main carousel*/
  #index__btnsCarousel__container {
    top: 77%;
  }
  /*Botones de banners*/
  #index__carouselImg2__btn {
    height: 30px;
    font-size: 12px;
  } 
  #index__carouselImg3__btn {
    height: 30px;
    font-size: 12px;
  }
  /*Fortalezas*/
  .index__sobreNosotros__container div {
    margin-top: -30px;
  }
.index__sobreNosotros__container div p strong {
  font-size: 1.4rem;
  }  
  .index__aboutUs__grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    margin-top: -25px;
    align-items: center;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "index__ProductosDeCalidad__container"
        "index__AtencionPersonalizada__container"
        "index__aboutUsMainImg__container"
        "index__seguridadEnElProceso__container"
        "index__envios__container"
  }
  .index__cardFortaleza__container {
    width: 50%;
  }
  .icono__fortaleza {
    height: 55px;
    width: 65px;
}
  /*Index Productos*/
  .index__productos__container div p strong {
    font-size: 1.4rem;
  }
  .index__productosImagen__perroIzq {
    top: -38%;
    left: -10%;
    width: 180px;
    height: 120px;
  }
  .index__productosImagen__perroDer {
    top: -36%;
    width: 180px;
    height: 120px;
  }
  .index__DogIdCaption__container h4 {
    right: 25%;
  }
  .index__RopaCaption__container h4 {
    right: 31%;
  }
  /*Index Reyes y Reinas*/
  .index__reyesYreinas__container div p strong {
    font-size: 1.4rem;
  } 
  /*------------CONTACTO---------------*/
  .contacto__banner__img {
    height: 20vh;
  }
  .contacto__titulo__container {
  right: 20%;
  }
  .contacto__banner__containerGeneral {
  height: 25vh;
  }
  .contacto__titulo__container h1 {
  font-size: 45px;
  }
  .contacto__titulo__container {
    right: 23%;
}
/*--------------PREGUNTAS FRECUENTES---------------*/
.preguntasFrecuentes__tituloSeccion__container {
  right: -8%;
  top: 13%;
}
.preguntasFrecuentes__tituloSeccion__container h1 {
  font-size: 39px;
  width: 30%;
  text-align: center;
}
/*----------------CHALECOS------------------------*/
.chalecos__caracteristicasTitulo__container div p strong{
  font-size: 1.4rem;
}
.caracteristica__item__img {
  width: 185px;
  height: 185px;
}
.caracteristica__card__container {
  width: 280px;
  height: 290px;
}
.chalecos__tallesTitulo__container div p strong{
  font-size: 1.4rem;
}
.talles__imagen__container img {
  width: 230px;
  height: 210px;
}
.talles__tabla__container {
  width: 90%;
}
.index__DogIdCaption__container a {
  right: 40%;
}
.index__RopaCaption__container a {
  right: 40%;
}
/*---------------DOG ID------------------*/
.dogId__bannerCaption__container div ul li {
  font-size: 36px;
}
.dogId__titleList__container {
  height: 45px;
  top:45%;
}
.dogId__titleList__container ul {
  animation:cambiarEn500 15s infinite;
}
.dogId__titleList__container {
  right: 15%;
}
  .dogId__selectorTitulo__container div p strong{
    font-size: 1.4rem;
  }
  .dogId__selector__img {
    border-radius: 7px;
}
}

@media (max-width: 401px) {
  /*--NAVBAR---*/
  .menuDesplegable__container {
    top: -26%;
    right: -23%;
    height: 190px;
    width: 190px!important;
}

  /*---INDEX---*/

  /*Titulos del carrousel*/
  .index__carouselImg1__titulo{
    font-size: 0.8rem;
    line-height: 20px;
    left:11%;
    top: 31%;
    }
  .index__carouselImg2__titulo{
    font-size: 0.8rem;
    line-height: 17px;
    top: 31%;
    left:11%;
  }
  .index__carouselImg3__titulo{
    font-size: 0.8rem;
    line-height: 20px;
    top:31%;
    left:11%;
    }
  
  /*Botones main carousel*/
  #index__btnsCarousel__container {
    top: 70%;
  }
  /*Main Carousel Botones de banners*/
  #index__carouselImg2__btn {
    height: 25px;
    font-size: 10px;
  } 
  #index__carouselImg3__btn {
    height: 25px;
    font-size: 10px;
    top: 55%;
  }
  /*Index Fortalezas*/
  .index__sobreNosotros__container div {
    margin-top: 0px;
}
  .index__sobreNosotros__container div p strong {
    font-size: 1.1rem;
  }
  .index__sobreNosotros__container {
    height: 10vh;
  }
  .index__cardFortaleza__container {
    width: 65%;
  }
  .botonCentrado__container a {
  width: 55%;
  }
  /*Index Productos*/
  .index__productos__container div p strong {
    font-size: 1.1rem;
  }
  .index__productosImagen__perroIzq {
    top: -44%;
    left: -10%;
    width: 160px;
    height: 110px;
  }
  .index__productosImagen__perroDer {
    top: -42%;
    width: 160px;
    height: 110px;
  }
  .index__DogIdCaption__container h4 {
    font-size: 45px;
  }
  .index__RopaCaption__container h4 {
    font-size: 45px;
  }
  /*Index Reyes y Reinas*/
  .index__reyesYreinas__container div p strong {
    font-size: 1.1rem;
  }
  /*----------CONTACTO-----------------*/
  .contacto__banner__img {
    height: 17vh;
  }
  .contacto__titulo__container h1 {
    font-size: 45px;
  }
  .contacto__banner__containerGeneral {
    height: 20vh;
  }
  .contacto__icono__card {
    height: 50px;
    width: 60px;
  }
  .contacto__cards__sectionContainer {
    height: 115vh;
}
.contacto__titulo__container h1 {
  font-size: 38px;
}
.contacto__titulo__container {
  right: 24%;
}
/*--------------PREGUNTAS FRECUENTES-----------*/
.preguntasFrecuentes__tituloSeccion__container h1 {
  font-size: 30px;
}
.preguntasFrecuentes__tituloSeccion__container {
  right: -5%;
}
/*------------------CHALECOS--------------------*/
.chalecos__caracteristicasTitulo__container div p strong{
  font-size: 1.1rem;
}
.caracteristica__item__img {
  width: 150px;
  height: 150px;
}
.caracteristica__card__container {
  width: 260px;
  height: 280px;
}
.caracteristicasRopa__items__container {
  height: 120vh;
}
.chalecos__tallesTitulo__container div p strong{
  font-size: 1.1rem;
}
.talles__imagen__container img {
  width: 200px;
  height: 180px;
}
.talles__tablaImg__container img {
  height: 100px;
}
.talles__tabla__container {
  width: 95%;
}
.index__DogIdCaption__container a {
  right: 36%;
}
.index__RopaCaption__container a {
  right: 39%;
}
/*-----------------DOG ID--------------------*/
.dogId__bannerCaption__container div ul li {
  font-size: 30px;
}
.dogId__titleList__container {
  right: 13%;
}
.dogId__titleList__container ul {
  animation:cambiarEn400 15s infinite;
}
.dogId__titleList__container {
  height: 30px;
  top: 45%;
}
.dogId__selectorTitulo__container div p strong{
  font-size: 1.1rem;
}
.dogId__selector__img {
  border-radius: 5px;
}
.dogId__btn__comprar{
  width: 35%;
}
}

@media (max-width:321px) {
  /*-----NAVBAR-----*/
  .menuDesplegable__container {
    top: -26%;
    right: -19%;
    height: 180px;
    width: 180px!important;
}

  .index__carouselImg2__titulo{
    top: 30%;
  }

  .index__carouselImg3__titulo{
    width:48%;
    left:10%;
    top: 35%;
  }
  /*Botones main carousel*/
  #index__btnsCarousel__container {
    top: 65%;
  }
  #index__carouselImg2__btn {
    height: 20px;
    font-size: 9px;
  }
  #index__carouselImg3__btn {
    height: 20px;
    font-size: 9px;
  }
  .index__productosImagen__perroIzq {
    top: -50%;
    left: 18%;
    width: 150px;
    height: 100px;
  }
  .index__productosCards__DOGID-container {
    padding-top: 10px;
  }
  .index__DogIdCaption__container h4 {
    font-size: 40px;
  }
  .index__productosImagen__perroDer {
    top: -48%;
    left: 25%;
    width: 150px;
    height: 100px;
  }
  .index__RopaCaption__container h4 {
    font-size: 40px;
  }
  /*Fortalezas*/
.icono__fortaleza {
  height: 50px;
  width: 60px;
  right: 35%;
}
  /*---CONTACTO----*/
  .contacto__banner__img {
    height: 12vh;
  }
  .contacto__titulo__container h1 {
    font-size: 35px;
  }
  .contacto__cards__sectionContainer {
    height: 80vh;
}
.contacto__titulo__container h1 {
  font-size: 30px;
}
/*------------PREGUNTAS FRECUENTES---------------*/
.preguntasFrecuentes__tituloSeccion__container {
  right: -18%;
  top:9%;
}
.preguntasFrecuentes__pregunta__container p {
  font-size: 15px;
}
.preguntasFrecuentes__titulosDePregunta__container h3 {
  font-size: 22px;
}
/*--------------------CHALECOS-------------------*/
.caracteristica__item__img {
  width: 160px;
  height: 160px;
}
.caracteristica__card__container {
  width: 250px;
  height: 270px;
}
.talles__imagen__container img {
  width: 180px;
  height: 160px;
}
.talles__tabla__container {
  width: 97%;
}
.talles__tablaImg__container img {
  height: 90px;
}
.caracteristicasRopa__items__container {
  height: 130vh;
}
/*---------------------DOG ID-----------------------------*/
.dogId__bannerCaption__container div ul li {
  font-size: 25px;
}
.dogId__titleList__container {
  top: 40%;
}
.dogId__titleList__container ul {
  animation:cambiarEn320 15s infinite;
}
.dogId__titleList__container {
  right: 12%;
}

}