.sectionNosotros h4{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
}
.sectionNosotros h5{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.sectionNosotros p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.divBanner1{
    background: url('/img/nosotros/NosotrosFondo.png');
    background-repeat : no-repeat;
    background-size:contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vw / 3);
    background-size: 100%;
    width: 100vw;
}
.divBanner1 h3{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

.divimgLore{
    display:flex;
    align-items: center;
    justify-content: center;
}
.divLoreSimba{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.containBanner2{
    height: calc(100vw / 3);
    background-size: 100%;
    width: 100vw;
}
.divBanner2 {
    background: url('/img/nosotros/FondoVision.png');
    background-repeat : no-repeat;
    background-size : inherit;
    background-position: center;
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.divTextBanner2{
    text-align: center;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.divTextBanner2 h5{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.divTextBanner2 h4{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
}
.divTextBanner2 h3{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 50%;
}
.textNosotros{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    width: 80%;
    height: 60%;
    text-align: center;
    display: flex;
    align-items: center;
}
.divNosotros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.divAPPNos{
    position: relative;
    margin: 2.5em;
}
.divNosotrosGris{
    margin:10% 0 10% 0;
}
.divNosotrosGris img {
    width: 20%;
    height: 20%;
}

@media(max-width:1100px){
    .divNosotros{
        width: 100%;
        height: 100%;
    }
    .APPdogID{
        Width: 213px;
        Height: 153px;
    }
    .sectionNosotros h4{
        font-size: 20px;
        line-height: 20px;
    }
    .sectionNosotros p{
        font-size: 16px;
        line-height: 22px;
    }
}

@media(max-width:780px){
    .divBanner1{
        height: 235px;
    }

    .divLoreSimba{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .divLoreSimba img{
        width: 60%;
    }
    .divTextBanner2{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
        justify-content: flex-start;
    }
    .divTextBanner2 h5{
        font-size: 16px;
        line-height: 20px;
    }
    .divTextBanner2 h4{
        font-size: 26px;
        line-height: 30px;
    }
    .divTextBanner2 h3{
        font-size: 16px;
        line-height: 20px;
        width: 50%;
    }
    .divNosotros{
        width: 60%;
    }
    .sectionNosotros p{
        font-size: 14px;
        line-height: 14px;
    }
    .sectionNosotros h4{
        font-size: 16px;
        line-height: 16px;
    }
    .divAPPNos{
        padding: 2px;
        margin: 0.5em;
    }
    .divTextAPP{
        font-size: 14px;
        line-height: 19px;
    }
    .divTextAPP h4{
        font-size: 14px;
        line-height: 20px;
      }
    
}

@media(max-width:779px){

    .divTextBanner2{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
        justify-content: flex-start;
    }
    .divTextBanner2 h5{
        font-size: 14px;
        line-height: 20px;
    }
    .divTextBanner2 h4{
        font-size: 20px;
        line-height: 24px;
    }
    .divTextBanner2 h3{
        font-size: 16px;
        line-height: 18px;
        width: 65%;
    }
}
@media(max-width:600px){
    .divTextBanner2 h3{
        font-size: 14px;
        line-height: 16px;
        width: 100%;
    }
}
@media(max-width:481px){
    .divBanner1{
        height: 146px;
    }

    .divBanner1 h3{
        font-size: 40px;
        line-height: 60px;
    }
    .divAPPNos{
        position: relative;
        margin: 1em;
    }
    .APPdogID{
        Width: 200px;
        Height: 115px;
    }
    .divTextAPP{
        font-size: 12px;
    }
    .divTextBanner2 h3{
        font-size: 11px;
        line-height: 14px;
        width: 100%;
    }
  
}
@media(max-width:390px){
    .divBanner1 h3 {
        font-size: 30px;
        line-height: 60px;
    }

    .divTextBanner2 h4{
        font-size: 16px;
        line-height: 20px;
    }
    .divTextBanner2 h3 {
        font-size: 10px;
        line-height: 8px;
        width: 100%;
        padding: 0 5px 0 5px;
    }
    .divTextAPP{
        font-size: 10px;
    }
}