/*Nav Bar*/
/*--------------------------------------------------------------------------------*/
.alturaNavbar{
  height: 96px;
}

.logoNavbar{
  width:80px;
  height:80px;
}

.navbar__seccionIzq__container{
  display: inline-flex;
  align-items: baseline;
}

#navBar{
  display: flex;
  align-items: center;
  padding: var(--navbar-padding, 0.5rem);
  min-height: 4rem;
  width: 100%;
  justify-content: space-between;
}

#navBar__menuDesplegable{
  z-index: 1000;
}

#navBar__menuDesplegable li a:active{
  background-color: grey;
}

#navBar__menu__container li a:active{
background-color: grey;
}






/*FOOTER*/ 
.footerClass{
  display: flex;
  justify-content: space-around;
  align-items:  flex-start;
  color: #ffffff;
}
.footerClass p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.footerClass a {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display:flex ;
  align-items: center;
}
.footerClass div{
  margin-top: 1%;
  padding: 2%;
}

.footerClass img{
  padding: 5px;
}