/*Nav Bar*/
/*--------------------------------------------------------------------------------*/
.alturaNavbar{
  height: 96px;
}

.logoNavbar{
  width:80px;
  height:80px;
}

.navbar__seccionIzq__container{
  display: inline-flex;
  align-items: baseline;
}

#navBar{
  display: flex;
  align-items: center;
  padding: var(--navbar-padding, 0.5rem);
  min-height: 4rem;
  width: 100%;
  justify-content: space-between;
}

#navBar__menuMobile__container{
  display: none;
}


#navBar__menuDesplegable{
  z-index: 1000;
}

#navBar__menuDesplegable li a:active{
  background-color: grey;
}

#navBar__menu__container li a:active{
background-color: grey;
}

.navbar__logo__margen{
  margin-right: 4rem;
  margin-left: 4rem;
}

/*------------------------------------INDEX---------------------------------------*/
/*--------------------------------------------------------------------------------*/


/*Carousel principal*/

.swiper {
  width: 50vw;
}

.swiper-slide {
  background-color: #000;
}

.swiper-slide img {
  display: block;
  width:100%;
  height:100%;
  object-fit: cover;
}

.swiper button {
  width: 50px;
  height: 50px;
  color: #fff;
  background: transparent;
  border:none;
  outline:none;
  transition: opacity 0.25s;
}

.swiper button:hover {
  opacity:0.8;
}

.swiper button::before,
.swiper button::after {
  font-size: 24px;
}

.swiper-button-prev{
  left: 25px;
}

.swiper-button-next {
  right: 25px;
}

.swiper-pagination-bullet {
  background-color: #fff;
}
/*Acomodado de los textos en el Carousel principal*/



/*Acomodado de los botones para mover las imagenes del carousel*/

.index__mainCarousel__container{
  position:relative;
}


#index__btnsCarousel__container{
  position: absolute;
  top:85%;
  right:0%;
}

.index__btnMainCarousel__img{
  width:10px;
  height:10px;
}
/*Acomodado de posicion de titulos y subtitulos en las imagenes del carousel*/

/*Item 1*/

.index__carouselImg1__titulo{
  position:absolute;
  top:31%;
  left: 10%;
  font-size: 2.7rem;
  width: 45%;
  color: #ffffff;
  line-height: 48px;
}


.index__carouselImg1__subtitulo{
  position:absolute;
  top:55%;
  left: 10%;
  font-size: 1.7rem;
  width: 45%;
  color: #ffffff;
  font-weight: 400;
}

/*Item 2*/


.index__carouselImg2__titulo{
  position:absolute;
  top:20%;
  left: 10%;
  font-size: 2.7rem;
  width: 43%;
  color: #191919;
}

#index__carouselImg2__btn{
  position:absolute;
  top:75%;
  left: 10%;
  width: 25%;
  background-color: #A01E12;
  border: solid 2px #A01E12;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*Item 3*/

.index__carouselImg3__titulo{
  position:absolute;
  top:21%;
  left: 9.5%;
  font-size: 2.7rem;
  width: 40%;
  color: #191919;
  font-weight: 600;
  line-height: 48px;
}

.index__carouselImg3__subtitulo{
  position:absolute;
  top:51%;
  left: 10%;
  font-size: 1.7rem;
  font-weight: 400;
  width: 45%;
  color: #191919;
}



/*Sobre nosotros*/

.index__sobreNosotros__container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.index__sobreNosotros__container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  line-height: 45px;
  margin-top: -50px;
}

.index__sobreNosotros__container div p{
  color: #A01E12;
  font-size: 1rem;
}

.index__sobreNosotros__container div p strong {
  color: #191919;
  font-size: 2rem;
}


/*grid para cards de virtudes de Monarquia Perruna*/

.index__aboutUs__grid {  
  display: grid;
  margin-top: -50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "index__ProductosDeCalidad__container index__aboutUsMainImg__container index__AtencionPersonalizada__container"
    "index__seguridadEnElProceso__container index__aboutUsMainImg__container index__envios__container";
}

.index__aboutUsMainImg__container { 
  grid-area: index__aboutUsMainImg__container;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px ;
}

.index__ProductosDeCalidad__container { 
  grid-area: index__ProductosDeCalidad__container; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.index__seguridadEnElProceso__container { 
  grid-area: index__seguridadEnElProceso__container; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.index__AtencionPersonalizada__container { 
  grid-area: index__AtencionPersonalizada__container;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.index__envios__container { 
  grid-area: index__envios__container;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px; 
}

/*Boton centrado*/

.botonCentrado__container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 20px 0px;
}

.botonCentrado__container a{
  width: 20%;
  background-color: #A01E12;
  border: solid 2px #A01E12;
}

/*SECCION PRODUCTOS INDEX*/

.index__productos__container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 20vh;
}


.index__productos__container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  line-height: 45px;
}

.index__productos__container div p{
  color: #A01E12;
  font-size: 1rem;
}

.index__productos__container div p strong {
  color: #191919;
  font-size: 2rem;
}

/*sector reyes y reinas*/

.index__reyesYreinas__container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.index__reyesYreinas__container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  line-height: 45px;
}

.index__reyesYreinas__container div p{
  color: #A01E12;
  font-size: 1rem;
}

.index__reyesYreinas__container div p strong {
  color: #191919;
  font-size: 2rem;
}


/*--------------Seccion Caracteristicas en Ropa---------------------------*/

.caracteristicasRopa__items__container{
  width: 100vw;
  height: 30vh;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*------------------------Seccion Talles en Ropa-----------------------------*/

.talles__section__container{
  margin-bottom: 80px;
}


.talles__imagen__container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.talles__imagen__container img{
  width: 350px;
  height: 330px;
}

.talles__tabla__generalContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.talles__tabla__container{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.talles__tablaImg__container{
padding-left: 60px;
}

.talles__indicaciones__texto{
  font-family: "Nunito";
  font-weight: 400;
  font-size: 16px;
  width: 90%;
  padding-top: 15px;
  padding-left: 60px;
}


/*---------------------Seccion DOG ID---------------------------*/

.dogId__banner__container{
  position:relative;
}

.dogId__titleList__container{
  display: flex;
  position: absolute;
  height: 70px;
  top:30%;
  right:26%;
  font-size:64px;
  font-family: "Lato";
  font-weight: 700;
  overflow: hidden;
}

.dogId__titleList__container ul {
  list-style:none;
  animation:cambiar 15s infinite;
  animation-delay: 1s;
  text-align: center;
  margin-top: -15px;
}


.dogId__bannerCaption__container h2{
  position:absolute;
  top: 55%;
  right: 24%;
  font-family: "Lato";
  font-size: 24px;
  font-weight:500;
}

.dogId__selectors__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dogId__imgSelector__container{
  margin: 5px;
}

.dogId__selector__img{
  object-fit: cover;
  background-position: center;
  border-radius: 16px;
}

.dogId__selector__generalContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dogId__selector__container{
  display: flex;
  width: 82%;
  justify-content: space-evenly;
}

.dogId__selector__perro__img {
  width: 93%;
}


/*-------------PREGUNTAS FRECUENTES---------------------*/


/*Imagen y titulo de seccion*/
.preguntasFrecuentes__imagenPrincipal__container{
  position: relative;
}

.preguntasFrecuentes__tituloSeccion__container{
  position: absolute;
  top: 40%;
  right: 26%;
}

.preguntasFrecuentes__tituloSeccion__container h1{
  font-family:"Lato";
  font-weight: 700;
  font-size: 64px;
}


/*Seccion preguntas*/
.preguntasFrecuentes__preguntas__section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 300px;
}

.preguntasFrecuentes__preguntas__container{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 40px;
}

.preguntasFrecuentes__preguntaYrespuesta__container{
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px #191919;
}

.preguntasFrecuentes__pregunta__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.preguntasFrecuentes__pregunta__container p{
  font-family: "Lato";
  font-weight: 500;
  font-size: 18px;
}

.preguntasFrecuentes__pregunta__container button{
    font-size: 30px;
    color: #191919;  
}

.preguntasFrecuentes__titulosDePregunta__container{
  height: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: solid 1px #191919;
}

.preguntasFrecuentes__titulosDePregunta__container h3{
  font-size: 26px;
  font-family: "Lato";
  font-weight: 600;
  letter-spacing: 1px;
}


/*--------------------------SECCION CONTACTO-------------------------------------*/


.contacto__banner__containerGeneral{
overflow: hidden;
height: 40vh;
}
.contacto__banner__container{
  position:relative;
  width: 101%;
}

.contacto__banner__img{
  height: 38vh;
  width: 100%;
}


.contacto__titulo__container{
  position: absolute;
  top: 40%;
  right: 36%;
}

.contacto__titulo__container h1{
  font-family:"Lato";
  font-weight: 700;
  font-size: 64px;
}

.contacto__cards__sectionContainer{
width: 100%;
height: 40vh;
display: flex;
justify-content: center;
align-items: center;
}


.contacto__cards__container{
display: flex;
height: 100%;
width: 80%;
align-items: center;
justify-content: space-between;
}

/*--------------------Animaciones-----------------------*/

.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}


@keyframes cambiar {
  0%{ margin-top:-15px }
  25%{ margin-top:-111px }
  50%{ margin-top: -210px}
  75%{ margin-top: -111px }
  100%{ margin-top: -15px }  
} 



